@page
@{
    ViewData["Title"] = "Development";
}


@model EnvironmentApplication.Pages.TaxpayersModel


<h1 class="text-success fs-5">Taxpayers</h1>

<div class="tbody-div border border-success">
    <table class="table table-borderless table-responsive table-striped">
        <thead class="bg-success text-white sticky-top">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Taxpayers[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxpayers[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxpayers[0].Ssn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxpayers[0].Pin)
            </th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var taxpayer in Model.Taxpayers.OrderBy(tp => tp.LastName))
        {

            <tr>

                <td>
                    @Html.DisplayFor(modelItem => taxpayer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => taxpayer.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => taxpayer.SocialMasked, "SSN")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => taxpayer.PinMasked)
                </td>

                <td style="text-align: center">
                    <a asp-page="./Details" class="btn btn-primary btn-sm" asp-route-id="@taxpayer.Id">View</a>
                </td>

            </tr>
        }
        </tbody>
    </table></div>


@section Scripts
    {
    <script>
        document.addEventListener("DOMContentLoaded",
            () => {
                let navLink = document.querySelector('#taxpayers');
                navLink.setAttribute('class', 'active');
            });

    </script>
}
